<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>
    </head>

    <body>
        <form action="{% url "selectable_params:change_type" pk=cur_type.id %}" method="post">
            {% csrf_token %}
            <table BORDER=5 width=100%%>
                {{ form }}
            </table>
            <input type="submit" value="Сохранить">
        </form>
        <a href="{% url 'selectable_params:selectable_params' %}">Вернуться к парраметрам ДДС</a>
    </body>
</html>